body{
    padding: 0;
    margin: 0;
    background-color: $LIGHT_GREY;
}

p {
    white-space: nowrap;
}
#preloader{
    display: block;
    position: absolute;
    width:($WIDTH - 2)+px;
    height:($HEIGHT - 2)+px;
    border: 1px solid #efefef;
    background: #0089cf;
}


#preloader #preloader-svg,
#preloader > img {
  width: 30px;
  height: 30px;
  position: absolute;
}

#preloader {
  position: absolute;
  width: 158px;
  height: 598px;
  background: #0089cf;
}

#preloader > img {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

#preloader #preloader-svg {
  stroke: #fff;
  top: 25%;
  left: 50%;
  margin-left: -15px;
  margin-right: -15px;
}

#container {
  position: relative;
  width: 160px;
  height: 600px;
  background-color: #fff;
  margin: auto;
  overflow: hidden;
}

#banner,
.frame,
.panel-container {
  width: 158px;
  height: 598px;
  position: absolute;
}

#banner {
  overflow: hidden;
}

#banner, #preloader {
  border: 1px solid #efefef;
}

.frame {
  display: table;
  text-align: center;
  color: #fff;
}

.frame > .inner {
  display: table-cell;
  vertical-align: middle;
}

.panel-container {
  top: 0;
  left: 0;
  z-index: 1300;
  overflow: hidden;
}

.panel-container .panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.panel-container .panel-01 img,
.panel-container .panel-01 svg,
.panel-container .panel-03 img {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.panel-container .panel-01 {
  z-index: 304;
  background: #1289ca;
  opacity: 0;
}

.panel-container .panel-01 svg {
  stroke: #fff;
}

.panel-container .panel-02 {
  z-index: 305;
  background: #1289ca;
  opacity: 1;
}

.panel-container .panel-03 {
  z-index: 302;
  background: #0089cf;
}

.frame-2 p,
.frame-3 p {
  margin: 0;
  left: 8px;
  font-family: 'Proxima Nova Light';
  text-align: left;
  font-size: 27px;
  line-height: 27px;
  text-transform: uppercase;
}

.panel-container .panel-04 {
  z-index: 301;
  background: #cedfe9;
  opacity: 0.8;
}

.panel-container .panel-05 {
  z-index: 300;
  background: #b1c6d1;
  opacity: 0.8;
}

.frame-2,
.frame-3,
.frame-4,
.frame-5 {
  z-index: 1400;
  position: absolute;
}

.frame-2 {
  top: 18px;
}

.frame-2 p {
  position: absolute;
  top: 90px;
}

.frame-3 {
  top: 18px;
}

.frame-3 p {
  position: absolute;
  top: 70px;
  left: 6px;
  font-size: 25px;
  line-height: 25px;
}

.frame-4 p,
.frame-5 p {
  font-size: 30px;
  line-height: 30px;
  margin: 0;
  font-family: 'Proxima Nova Light';
  text-transform: uppercase;
}

.pig-lid-image {
  position: absolute;
  right: 26px;
  top: 45px;
}

.frame-4 {
  top: 140px;
}

.frame-5 {
  top: 156px;
}

.button {
  position: absolute;
  width: 132px;
  left: 11px;
  top: 303px;
  z-index: 1500;
  height: 33px;
  border-radius: 40px;
  background: 0 0;
  transition: background 0.2s ease-in-out,border 0.2s ease-in-out,color 0.2s ease-in-out;
  border: 2px solid #fff;
}

.button p {
  margin: 0;
  color: #FFF;
  position: absolute;
  font-family: 'Proxima Nova Light';
  top: 10px;
  width: 100%;
  text-align: center;
  font-size: 13px;
  left: 0;
  transition: left 0.2s ease-in-out;
}

.button .arrow-circle {
  opacity: 0;
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  left: 96px;
  top: 8px;
  transition: opacity 0.2s ease-in-out,left 0.2s ease-in-out;
}

.button .cta-arrow {
  width: 4px;
  height: 4px;
  border: 1px solid #FFF;
  position: absolute;
  border-bottom: none;
  border-left: none;
  top: 6px;
  left: 6px;
}

#banner:hover .button {
  background: #00537d;
  border: 2px solid transparent;
}

#banner:hover .button p {
  color: #FFF;
  left: -6px;
}

#banner:hover .button .arrow-circle {
  opacity: 1;
  left: 101px;
}

#fr-logo-intro,
#fr-logo-preloader {
  display: block;
  position: absolute;
  top: 270px;
  z-index: 1305;
  width: 138px;
  height: 28px;
  left: 10px;
  opacity: 0;
}

#fr-logo-preloader {
  opacity: 1;
}

#logo-lockup-intro .fr-logo-path,
#logo-lockup-preloader .fr-logo-path,
#tag-line-intro .fr-logo-path,
#tag-line-preloader .fr-logo-path {
  fill: #fff;
}

.logo-container {
  position: absolute;
  z-index: 1300;
  bottom: -1px;
  left: 0;
  width: 160px;
  height: 140px;
  background: #FFF;
  opacity: 0;
}

.logo-container .logo-bg-blue,
.logo-container .logo-bg-white {
  z-index: 40;
  top: 0;
  left: 0;
  width: 300px;
  height: 58px;
  position: absolute;
}

.logo-container .logo-bg-blue {
  background: #0089cf;
}

.logo-container .logo-bg-white {
  background: #fff;
}

.fr-logo-path {
  fill: #1289ca;
}

#fr-logo {
  position: absolute;
  z-index: 1700;
  width: 138px;
  height: 28px;
  left: 10px;
  top: 552px;
  opacity: 0;
}

.bg-image,
.feature {
  width: 300px;
  height: 250px;
}

.bg-image,
.bg-image img {
  top: 0;
  position: absolute;
  left: 0;
}

.bg-image {
  z-index: 130;
  background: #0089cf;
}

.bg-image .bg-image-01 {
  z-index: 10;
}

.bg-image .bg-image-02 {
  z-index: 9;
}

.bg-image .bg-image-03 {
  z-index: 8;
}

.feature {
  position: absolute;
  top: 200px;
  left: 0;
  z-index: 301;
}

.feature-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

#bull-horns,
#video {
  position: absolute;
  width: 300px;
}

#bull-extra {
  position: absolute;
  top: 62px;
  width: 302px;
  left: -3px;
}

#bull-extra .cls-1 {
  stroke: #0089d0;
}

#bull-horns {
  top: 65px;
  height: 149px;
  opacity: 1;
  z-index: 499;
}

#bull-horns .cls-1 {
  stroke: #fff;
}

#bull-bottom {
  position: absolute;
  top: 104px;
  left: -1px;
}

#video {
  height: 250px;
  top: 0;
  left: 0;
  margin: auto;
  z-index: 200;
}
