body{
    padding: 0;
    margin: 0;
    background-color: $LIGHT_GREY;
}

p {
    white-space: nowrap;
}
#preloader{
    display: block;
    position: absolute;
    width:($WIDTH - 2)+px;
    height:($HEIGHT - 2)+px;
    border: 1px solid #efefef;
    background: #0089cf;
}

#preloader > img{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

#preloader #preloader-svg {
    width: 30px;
    height: 30px;
    stroke: rgb(255,255,255);
    position: absolute;
    top: 25%;
    left: 50%;
    margin-left: -15px;
    margin-right: -15px;
}

#container{
  display: block;
  position: relative;
  width:$BANNER_WIDTH;
  height:$BANNER_HEIGHT;
  background-color: white;
  margin: auto;
  overflow: hidden;
}

#banner{
  display: none;
  position: absolute;
  width:($WIDTH - 2)+px;
  height:($HEIGHT - 2)+px;
  border: 1px solid #efefef;
  overflow: hidden;
}

.frame{
  display: table;
  position: absolute;
  width:($WIDTH - 2)+px;
  height:($HEIGHT - 2)+px;
  text-align: center;
  color:#ffffff;
}

.frame > .inner{
  display: table-cell;
  vertical-align: middle;
}

// Panel container
// ======================
.panel-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 158px;
    height: 598px;
    z-index: 1300;
    overflow: hidden;

    .panel {
        position: absolute;
        top: 0;
        left:0;
        width: 100%;
        height: 100%;
    }
    .panel-01 {
        z-index: 304;
        background: $AFR_BLUE;
        opacity: 0;
        img {
            width: 30px;
            height: 30px;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
        }

        svg {
            width: 30px;
            height: 30px;
            stroke: rgb(255,255,255);
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
        }
    }
    .panel-02 {
        z-index: 305;
        background: $AFR_BLUE;
        opacity: 1;
    }

    .panel-03 {
        z-index: 302;
        background: #0089cf;
        img {
            width: 30px;
            height: 30px;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
        }
    }
    .panel-04 {
        z-index: 301;
        background: #cedfe9;
        opacity: .8;
    }
    .panel-05 {
        z-index: 300;
        background: #b1c6d1;
        opacity: .8;
    }
}


// Frame 02
// ======================

.frame-2 {
    position: absolute;
    top: 18px;
    z-index: 1400;
    p {
        margin: 0;
        position: absolute;
        top:90px;
        left:8px;
        font-family: 'Proxima Nova Light';
        text-align: left;
        font-size: 27px;
        line-height: 27px;
    }
}

// Frame 03
// ======================

.frame-3 {
    position: absolute;
    top: 18px;
    z-index: 1400;
    p {
        margin: 0;
        position: absolute;
        left:8px;
        top:90px;
        font-family: 'Proxima Nova Light';
        text-align: left;
        font-size: 26px;
        line-height: 26px;
        // letter-spacing: -1px;
    }
}

.pig-lid-image {
    position: absolute;
    right: 26px;
    top: 45px;
}


// Frame 04
// ======================

.frame-4 {
    position: absolute;
    top: 170px;
    z-index: 1400;
    p {
        margin: 0;
        font-family: 'Proxima Nova Light';
        font-size: 30px;
        line-height: 30px;
        //letter-spacing: -0.5px;
    }
}

// Frame 05
// ======================

.frame-5 {
    position: absolute;
    top: 156px;
    z-index: 1400;
    p {
        margin: 0;
        font-family: 'Proxima Nova Light';
        font-size: 30px;
        line-height: 30px;
    }
}

// Button
// ======================
.button {
    position: absolute;
    width: 132px;
    left: 11px;
    top: 303px;
    z-index: 1500;
    height: 33px;
    border-radius: 40px;
    background: transparent;
    transition: background .2s ease-in-out,
                border .2s ease-in-out,
                color .2s ease-in-out;
    border: 2px solid #fff;
    p {
        margin: 0;
        color: #FFF;
        position: absolute;
        font-family: 'Proxima Nova Light';
        top: 10px;
        width: 100%;
        text-align: center;
        font-size: 13px;
        left: 0;
        transition: left .2s ease-in-out;
    }
    .arrow-circle {
        opacity: 0;
        position: absolute;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        // background: #083a54;
        left: 96px;
        top: 8px;
        transition: opacity .2s ease-in-out,
                    left .2s ease-in-out;
    }
    .cta-arrow {
        width: 4px;
        height: 4px;
        border: 1px solid #FFF;
        position: absolute;
        border-bottom: none;
        border-left: none;
        top: 6px;
        left: 6px;
    }
}

#banner:hover .button {
    background: #00537d;
    border: 2px solid transparent;
    p {
        color: #FFF;
        left: -6px;
    }
    .arrow-circle {
        opacity:1;
        left: 101px;
    }
}




// Logo container
// ======================

#fr-logo-intro, #fr-logo-preloader {
  display: block;
  position: absolute;
  top: 270px;
  z-index: 1305;
  width: 138px;
  height: 28px;
  left: 10px;
  opacity:0;
}

#fr-logo-preloader {
  opacity: 1;
}

#logo-lockup-intro, #logo-lockup-preloader {
  .fr-logo-path {
    fill: #ffffff;
  }
}

#tag-line-intro, #tag-line-preloader {

  .fr-logo-path {
    fill: #ffffff;
  }
}

.logo-container {
    position: absolute;
    z-index: 1300;
    bottom: -1px;
    left: 0;
    width: 160px;
    height: 140px;
    background: #FFFFFF;
    opacity: 0;
    .logo-bg-blue {
        position: absolute;
        z-index: 40;
        top: 0;
        left: 0;
        width: 300px;
        height: 58px;
        background: #0089cf;
    }
    .logo-bg-white {
        position: absolute;
        z-index: 40;
        top: 0;
        left: 0;
        width: 300px;
        height: 58px;
        background: #ffffff;
    }
}
.fr-logo-path {
    fill:$AFR_BLUE;
}

#fr-logo {
    position: absolute;
    z-index: 1700;
    width: 138px;
    height: 28px;
    left: 10px;
    top: 552px;
    opacity: 0;
}

// Background images
// ======================
.bg-image {
    position: absolute;
    top:0;
    left:0;
    z-index: 130;
    background: #0089cf;
    width: 300px;
    height: 250px;
    img {
        position: absolute;
        top: 0;
        left: 0;
    }
    .bg-image-01 {
        z-index: 10;
    }
    .bg-image-02 {
        z-index: 9;
    }
    .bg-image-03 {
        z-index: 8;
    }
}

.feature {
    position: absolute;
    top: 490px;
    left: -140px;
    width: 1300px;
    z-index: 1280;
    transform: scale(1);
    transform-origin: 50% 50%;
}

.feature-image {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
}

.house {
    position: absolute;
    top: -200px;
    left: 87px;
    opacity: 0;
    width: 100px;
    z-index: 2;
}

.roof {
    position: absolute;
    top: -240px;
    left: 93px;
    z-index: 3;
    width: 86px;
    opacity: 0;
}

.tree {
    position: absolute;
    top: -240px;
    left: 144px;
    z-index: 0;
    width: 60px;
    opacity: 0;
    transform: scale(0);
    transform-origin: 50% 100%;
}


// Background images
// ======================
#video {
    position: absolute;
    width: 300px;
    height: 250px;
    top: 0px;
    left: 0px;
    margin: auto;
    z-index: 200;
}
